@-ms-viewport
{
	width: 456px;
}

@-webkit-viewport
{
	width: 456px;
}

@-o-viewport
{
	width: 456px;
}

@-moz-viewport
{
	width: 456px;
}

@viewport
{
	width: 456px;
}

.html
{
	background: #000000 url("../../images/test%202.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 270px;
	min-height: 428px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 38px;
	margin-right: 38px;
	padding: 71px 55px;
}

#pu926
{
	width: 0.01px;
	position: relative;
}

#u926
{
	z-index: 2;
	width: 108px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 132px;
}

#u928
{
	z-index: 3;
	width: 269px;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
}

#u930-20
{
	z-index: 5;
	width: 257px;
	min-height: 171px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u930-2
{
	font-weight: bold;
}

#u930-4
{
	font-style: italic;
}

#u932
{
	z-index: 31;
	width: 211px;
	min-height: 155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 20px;
	position: relative;
}

#u931-6
{
	z-index: 25;
	width: 226px;
	min-height: 41px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	margin-left: 22px;
	margin-top: 21px;
	position: relative;
}

#pu1044-4
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 20px;
	position: relative;
}

#u1044-4
{
	z-index: 32;
	width: 58px;
	min-height: 15px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
}

#u1045-4
{
	z-index: 36;
	width: 44px;
	min-height: 15px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#u1044-4:hover,#u1045-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#u1044-4:hover p,#u1045-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

body
{
	padding-top: 38px;
	padding-bottom: 38px;
}

#page .verticalspacer
{
	clear: both;
}

